
<link rel="stylesheet" href="style/style.css">
<div class="container border rounded bg-light bigcontainer">
    <div class="row border-bottom mx-auto">
     <h4 class="text-center">Log in to Facebook</h4>
    </div>
     <div class="row mt-3">
        <div class="row mt-3 mx-auto">
            <input class="rounded border border-success p-2 mb-2" type="text" placeholder="Enter your email">
        </div>
        <div class="row mt-3 mx-auto">
            <input type="text" class="rounded border border-success p-2 mb-2" placeholder="Mobile Number">
        </div>
        <div class="row mt-3 mx-auto">
            <input type="password" class="rounded border border-success p-2 mb-2" placeholder="Password">
        </div>
         <div class="row mx-auto">
            <a  href="#" class="text-center text-decoration-none btn btn-primary fw-bold">Log in</a>
         </div>
         <div class="row mt-3 mx-auto">
            <a class="text-center text-decoration-none fw-bold" href="#">Forgotten password?</a>
         </div>
         <div class="row">
            <span class="text-center">--------------- or ---------------</span>
         </div>
         <div class="row mt-2 mx-auto">
            <a  href="/" class="signup text-center mb-2">Create new account</a>
         </div>

     </div>

</div>